<!DOCTYPE html>
html(lang="en")
head
  meta(charset="UTF-8")
  meta(name="viewport", content="width=device-width, initial-scale=1.0")
  meta(http-equiv="X-UA-Compatible", content="ie=edge")
  link(rel="stylesheet", href="assets/css/main.min.css")
  title Gulp Demo
body
  main
    header
      nav
        ul
          li Link
          li Link
          li Link
    section.cover
      div.title
        h1 Site Title
        p A subtitle
        
        
  
